body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    }
.kyoutyou1 {
  color: #3498db; /* 目立つ青い色のテキスト */
  margin-bottom: 3px; /* 下の余白を追加 */
}
.hutoji-h3 {
    font-weight: bold; /* 太字にする */
}

body {
    background-color: #A7B716;
}
.chuuousoroe {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chuuousoroe-content {
    text-align: center;
}
/* 下に追加することも可能です。*/
